header {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #container {
    display: flex;
    flex: 1;
  }
  #sidebar {
    width: 10%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
  }
  .nav-item {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid transparent; 
    transition: all 0.3s;
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 상속 받음 */
  }
  .nav-item:hover, .nav-item.active {
    color: #4a90e2;
    border-left: 3px solid #4a90e2;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  #content {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; /* Positioning context for the add button */
  }
  body, h1, div, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  .nav-item {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.3s;
    line-height: 1.6; /* 조정할 수 있습니다 */
  }
  .nav-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 상속 받음 */
    display: block; /* 이 부분이 중요합니다 */
  }
  
.register_button {
    width: 94px;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* 부드러운 투명도 변화를 위한 속성 */
    height: 44px; 
    border-radius: 8px; 
    background: #39cbf9; 
    border-color: #39cbf9; 
    left: 0px; 
    top: -5px; 
    font-weight: 700; 
    text-align: center; 
    color: #fff;
    border: none;
}

.register_button:hover {
    opacity: 0.5; /* 마우스를 위에 올렸을 때의 투명도 */
}

.cancel_button{
    width: 94px;
    height: 44px;
    position: absolute;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease; /* 부드러운 투명도 변화를 위한 속성 */
    background: #c8f2ff; 
    border-color: #c8f2ff; 
    left: 0px; 
    top: -5px; 
    color: #454545;
    border: none;
}

.cancel_button:hover {
    opacity: 0.5; /* 마우스를 위에 올렸을 때의 투명도 */
}

.pontmake {
    font-weight: 700;
    font-size: 20px; 
    text-align: left; 
    color: #000;
}

.tag-input-container {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag-input-container input {
    flex: 1;
    border: none;
    height: 36px;
    margin: 4px;
    outline: none;
}

.tag {
    background: #eee;
    border-radius: 3px;
    padding: 2px 8px;
    margin: 4px;
    display: flex;
    align-items: center;
    height: 30px; /* 높이 조정 */
}

.tag i {
    margin-left: 5px;
    cursor: pointer;
}

.tag-input-container ul {
    display: flex; /* flexbox 레이아웃 적용 */
    flex-wrap: wrap; /* 태그가 많아질 경우 다음 줄로 넘김 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    list-style: none; /* 기본 리스트 스타일 제거 */
}