header {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #container {
    display: flex;
    flex: 1;
  }
  #sidebar {
    width: 10%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
  }
  .nav-item {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid transparent; 
    transition: all 0.3s;
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 상속 받음 */
  }
  .nav-item:hover, .nav-item.active {
    color: #4a90e2;
    border-left: 3px solid #4a90e2;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f7;
    color: #333;
  }
  #content {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; /* Positioning context for the add button */
  }
  body, h1, div, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  .nav-item {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.3s;
    line-height: 1.6; /* 조정할 수 있습니다 */
  }
  .nav-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상을 상속 받음 */
    display: block; /* 이 부분이 중요합니다 */
  }
  
.button {
    width: 94px;
    height: 40px;
    position: absolute;
    top: 66px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease; /* 부드러운 투명도 변화를 위한 속성 */
    border: none;
}

.button:hover {
    opacity: 0.5; /* 마우스를 위에 올렸을 때의 투명도 */
}

.blue-button {
    left: 160px;
    background: #82dafa;
}

.red-button {
    left: 800px;
    background: #ff6666;
}

.riwrite-button {
    left: 700px;
    background: #39cbf9;
}

.container {
    width: 1350px;
    height: 1121px;
    position: relative;
    background: #fff;
}

.sub-container {
    width: 1224px;
    height: 134px;
    position: absolute;
    left: 50px;
    top: 10px;
}

.heading {
    position: absolute;
    left: 431px;
    top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #000;
}


.sidebar {
    width: 256px;
    height: 1121px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: #fff;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-color: #e0e0e0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    position: absolute;
    left: 8px;
    top: 78px;
    gap: 4px;
}

.team-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
}

.team-title {
    flex-grow: 0;
    flex-shrink: 0;
    width: 208px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #000;
}


/* 기존의 flex-item 클래스를 재사용합니다. */
.flex-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
}

/* 새 배경색을 적용하는 클래스 */
.flex-item-blue {
    background: #eefeff;
}

/* icon-container 클래스 재사용 */
.icon-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

/* project-name 클래스 재사용 */
.project-name {
    flex-grow: 1;
    width: 168px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
}




.project-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    position: relative;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    background: #fff;
}

.project-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.project-title {
    flex-grow: 1;
    width: 168px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
}


.name-title {
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.header-title {
    position: absolute;
    left: 150px;
    top: 140px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
}

.content-title {
    position: absolute;
    left: 150px;
    top: 227px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000;
}



.s2{
    display: flex; justify-content: flex-start; align-items: flex-start; width: 705px; height: 462px; position: absolute; left: 200px; top: 200px; gap: 8px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; border-radius: 8px; background: #fff; border-width: 1px; border-color: #e0e0e0; box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.05);

}

.s3{
    padding: 10px; border-radius: 5px; border: 1px solid #ccc; height: 500px; flex-grow: 1; width: 673px; font-size: 16px; font-weight: 500; text-align: left; color: #828282;
}



.detail-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 706px;
    position: absolute;
    left: 405px;
    top: 329px;
    gap: 8px;
    padding: 12px 16px; /* Top-bottom, Left-right */
    border-radius: 8px;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.05);
}

.title-display {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #828282;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    font-size: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .modal-button {
    padding: 12px 24px; /* 버튼의 내부 여백을 증가시킵니다. */
    font-size: 18px; /* 글자 크기를 키웁니다. */
    color: #fff; /* 글자색은 흰색으로 설정합니다. */
    border-radius: 5px; /* 모서리를 둥글게 처리합니다. */
    cursor: pointer; /* 마우스 오버 시 커서를 포인터로 변경합니다. */
    margin: 5px; /* 버튼 사이의 간격을 조정합니다. */
    transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 전환합니다. */
}

.modal-button.confirm { /* 확인 버튼 전용 스타일 */
    background-color: #39cbff; /* 밝은 녹색 */
    border: none;
}

.modal-button.confirm:hover {
    background-color: #84ddfd; /* 마우스 오버 시 더 어두운 녹색으로 변경 */
}

.modal-button.cancel { /* 취소 버튼 전용 스타일 */
    background-color: #ffffff; /* 밝은 빨강색 */
    border: 3px solid #ff6666;
    color: #ff6666;
}

.modal-button.cancel:hover {
    background-color: #d32f2f; /* 마우스 오버 시 더 어두운 빨강색으로 변경 */
    color: #ffffff;
}

/* style_page3.css */
.tag {
    background-color: #e0e0e0; /* 태그 배경색 */
    border-radius: 5px; /* 모서리 둥글게 처리 */
    padding: 4px 8px; /* 태그 안쪽 여백 */
    margin: 2px; /* 태그 간 간격 */
    display: inline-block; /* 가로 방향 나열 */
    font-size: 14px;
    color: #333; /* 태그 글자색 */
}

