.button {
  border: none; /* 테두리 제거 */
  color: #454545;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: opacity 0.3s; /* 흐려지는 효과에 대한 부드러운 전환 */
  width: 94px;
  height: 40px; 
  position: absolute; 
  left: 742px; 
  top: 75px; 
  border-radius: 8px; 
  background: #c8f2ff; 
  border-color: #c8f2ff; 
}
/* 마우스 오버 효과 */
.button:hover {
  opacity: 0.5; /* 흐려지는 효과 */
}

.write-button {
  width: 94px;
  height: 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  position: absolute; 
  left: 1073px; 
  top: 343px; 
  border-radius: 8px; 
  background-color: #39cbf9; 
  color: #fff;
}

.write-button:hover {
  background-color: #a7d8ff; /* 마우스를 올렸을 때 색상이 밝아집니다 */
}

.main-container {
  width: 1480px; height: 1121px; position: relative; background: #fff;
}

.content-area {
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 840px; height: auto; position: absolute; left: 322px; top: 383px;
}


.header-row {
  display: flex; justify-content: space-between; align-items: center; flex-grow: 0; flex-shrink: 0; width: 840px; height: 84px; position: relative;
}


.line-sty{
  flex-grow: 0; flex-shrink: 0; font-size: 16px; font-weight: 500;
}

.s1{
  display: flex; justify-content: space-between; align-items: center; align-self: stretch; flex-grow: 0; flex-shrink: 0; height: 56px; position: relative; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-color: #e0e0e0;
}

.s2{
  flex-grow: 0; flex-shrink: 0; width: 57px; height: 27px; font-size: 16px; font-weight: 500; text-align: left; color: #828282;
}

.s3{
  flex-grow: 0; flex-shrink: 0; width: 400px; height: 27px; font-size: 16px; font-weight: 500; text-align: left; color: #000;
}

.s4{
  flex-grow: 0; flex-shrink: 0; width: 100px; height: 28px; position: relative;
}

.s5{
  display: flex; justify-content: center; align-items: center; position: absolute; left: 0px; top: 0px; gap: 8px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 3px; border-radius: 8px; background: #fff; border-width: 10px; border-color: #000;
}

.s6{
  flex-grow: 0; flex-shrink: 0; font-size: 12px; font-weight: 600; text-align: left; color: #000;
}

.s7{
  flex-grow: 0; flex-shrink: 0; width: 48px; font-size: 16px; text-align: center; color: #828282;
}

.s8{
  flex-grow: 0; flex-shrink: 0; width: 65px; font-size: 13px; font-weight: 600; text-align: left; color: #000;
}

.s9{
  display: flex; justify-content: flex-start; align-items: center; width: 503px; height: 40px; position: absolute; left: 207px; top: 67px; gap: 12px; padding-left: 12px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; background: #fff; border-width: 1px; border-color: #e0e0e0;
}

.s10{
  width: 439px; height: 40px; font-size: 16px; color: #828282; padding-left: 12px; border: 1px solid #e0e0e0; border-radius: 8px;
}

.s11{
  position: absolute; left: 431px; top: 15px; font-size: 20px; font-weight: 600; text-align: left; color: #000;
}

.s12{
  width: 256px; height: 1121px; position: absolute; left: 0px; top: 0px; overflow: hidden; background: #fff; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px; border-color: #e0e0e0;
}

.s13{
  display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 240px; position: absolute; left: 8px; top: 78px; gap: 4px;
}

.s14{
  display: flex; justify-content: flex-start; align-items: center; align-self: stretch; flex-grow: 0; flex-shrink: 0; height: 40px; position: relative; gap: 16px; padding-left: 16px; padding-right: 16px; border-radius: 8px;
}

.s15{
  flex-grow: 0; flex-shrink: 0; width: 208px; height: 24px; font-size: 16px; font-weight: 600; text-align: left; color: #000;
}

.s16{
  display: flex; justify-content: flex-start; align-items: center; align-self: stretch; flex-grow: 0; flex-shrink: 0; height: 40px; position: relative; gap: 16px; padding-left: 16px; padding-right: 16px; border-radius: 8px; background: #eefeff;
}

.s17{
  flex-grow: 0; flex-shrink: 0; width: 24px; height: 24px; position: relative; overflow: hidden;
}

.s18{
  flex-grow: 1; width: 168px; font-size: 16px; font-weight: 500; text-align: left; color: #000;
}

.s19{
  display: flex; justify-content: flex-start; align-items: center; align-self: stretch; flex-grow: 0; flex-shrink: 0; height: 40px; position: relative; gap: 16px; padding-left: 16px; padding-right: 16px; border-radius: 8px; background: #fff;
}

.s20{
  flex-grow: 0; flex-shrink: 0; width: 24px; height: 24px; position: relative; overflow: hidden;
}

.s21{
  flex-grow: 1; width: 168px; font-size: 16px; font-weight: 500; text-align: left; color: #000;
}

.s22{
  position: absolute; left: 24px; top: 24px; font-size: 20px; font-weight: 600; text-align: left; color: #000;
}


.hidden-content {
  display: none;
}

.tag-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-top: 0px;  /* 제목과 태그 사이의 간격 */
  margin-bottom: 0px;  /* 태그와 날짜/소유자 사이의 간격 */
  justify-content: flex-start;  /* 가로로 정렬 */
  align-items: flex-start;  /* 세로로 정렬 */
}

.tag {
  padding: 4px 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  font-size: 12px;
  color: #000;
  display: inline-block;
}

